*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

/* #car1{
    position: relative;
    top: 10%;
    left: 20%;
    width: 100px;
    height: 150px;
    background-color: crimson;
}
#car2{
    position: absolute;
    left: 50%;
    width: 150px;
    height: 175px;
    background-color: rgb(14, 83, 172);
}

#car3{
    width: 200px;
    height: 200px;
    background-color: rgb(79, 16, 134);
} */




/* #box{
    height: 300px;
    width: 300px;
    background-color: crimson;
    position: relative;
}

#small{
    position: absolute;
    background-color: aqua;
    height: 20px;
    width: 20px;
    top: 50%;
    left: 20%;
} */


/* #homepage{
    width: 100%;
    height: 3000px;
    background-color: #222;
}

#side{
    position: fixed;
    right: 0;
    top: 40%;
    height: 200px;
    width: 100px;
    background-color: crimson;
} */

#parent{
    width: 100%;
    background-color: #222;
}

#child{
    width: 100%;
    height: 2000px;
    background-color: #333;
}

#stick{
    height: 50px;
    width: 100% ;
    position: sticky;
    top: 0;
    background-color: crimson;
}

#child2{
    width: 100%;
    height: 2000px;
    background-color: #555;
}