@font-face{
    font-family: simbiot;
    src: url(./Simbiot.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

h1{
    color: #ff00ff;
    background-color: black;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
}
#hero{
    color: navy;
    background-color: lightcyan;
}

.lt{
    color: blueviolet;
}

h2{
    color: #ff0000;
    background-color: black;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
    font-family: simbiot;
}

div{
    background-color: aqua;
}