*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #fffcfc;
    color: rgb(1, 1, 1);
}

#nav{
    padding: 10px 30px;
}

#nav a{
    font-size: 20px;
    margin-right: 20px;
    color: #040404;
    text-decoration: none;
}

main>h1{
    font-size: 300px;
    font-weight: 100;
    margin-left: 70px;
}

#btmleft{
    position: absolute;
    bottom: 15%;
    left: 3%;
    width: 300px;
}

#btmleft h3{
    font-size: 25px;
}

#btmleft p{
    font-size: 14px;
    margin-top: 5px;
}

#btmleft h4{
    margin-top: 30px;
    font-size: 25px;
}

#btmbar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 70px;
    display: flex;
    justify-content: space-between;
}

#btmbar>h1{
    font-size: 25px;
    font-family: fantasy;
    font-weight: 200;
}

#btmbar a{
    color: #000000;
    text-decoration: none;
    font-size: 20px;   
}

main>img{
    position: absolute;
    height: 210px;
}

#first{
    top: 43%;
    left: 65%;
    height: 250px;
    z-index: 99;
}

#second{
    top: 45%;
    left: 45%;
    height: 220px;
    z-index: 20;
}

#third{
    top: 63%;
    left: 53%;
    height: 180px;
    z-index: 25;
}