@font-face {
    font-family: horror;
    src: url(Storm\ Gust.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #222;
    color: white;
    

h1{
    font-size: clamp(3.5rem, 8vw, 8rem);
    -webkit-text-stroke: 1px black;
    padding: 2.5rem 5rem;
    letter-spacing: 0.6rem;
    background-color: antiquewhite;
    border-radius: 0.7rem;
    color: whitesmoke;
    background: transparent;
    font-family: horror;
}

p{
    font-size: clamp(1.5rem, 2.5vw, 2.8rem);
    -webkit-text-stroke: 1px black;
    font-weight: 600;
    font-family: "Trebuchet MS", sans-serif;
}

button{
    padding: 0.8rem 1.4rem;
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}

}

