@mixin flex-column($gap: 0){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin section3-mobile-style(){
    width: 100%;
    padding: 1rem;
    @include flex-column(1rem);

    .top{
        width: 100%;

        img{
        width: 100%;
        border-radius: 0.7rem;
    }
    }

    .bottom{
           background-color: #292929; 
           border-radius: 0.7rem;
           padding: 1.5rem;
           @include flex-column(3rem);

           .text{
            @include flex-column(0.7rem);

            h1{
                font-size: 2.5rem;
                font-weight: 200;
                text-transform: uppercase;
            }

            p{
                font-size: 1.4rem;
                font-weight: 100;
                opacity: 0.6;
                line-height: 1.5;
            }
          
           }
        }
}

@mixin section3-desktop-style(){
    @media (min-width: 900px){
       flex-direction: row-reverse;
       padding: 1rem 3rem ;

        .top,.bottom{
            width: 50%;
        }

        .bottom{
            justify-content: space-between;
            padding: 3rem;

            .text{

                gap: 1.5rem;
                h1{
                    font-size: 3rem;
                }

                .paragraphs{
                    display: flex;
                    gap: 2rem;

                    p{
                        width: 60%;
                        font-size: 1.2rem;
                    }
                }
            }
        } 
    }
}