@mixin flex-column($gap: 0){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin section2-mobile-style(){
    @include flex-column(2.5rem);
    width: 100%;
    padding: 1rem;

    .top,.bottom{
        width: 100%;
        display: flex;
        justify-content: space-around;

        .element{
            text-align: center;
            @include flex-column(0.5rem);

            small{
                opacity: 0.6;
                font-size: 1rem;
            }

            h2{
                font-size: 3rem;
                font-weight: 300;
            }
        }
    }
}

@mixin section2-desktop-style(){
    @media (min-width:900px){
        flex-direction: row;
        padding: 1rem 4rem;
    }
}