@mixin flex-column($gap: 0){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin section5-mobile-style(){
    @include flex-column(1rem);
    width: 100%;
    padding: 1rem;

    .card{
        width: 100%;
        background-image: url(./view5\ card1.webp);
        background-size: cover;
        aspect-ratio: 1/1;
        border-radius: 0.7rem;
        padding: 1rem;
        @include flex-column(0rem);
        justify-content: space-between;

        .top{
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
        }

        .icon{
            width: fit-content;
            border-radius: 50% !important;
        }
        
        .icon,.bottom{
            background-color: rgba(125, 123, 123, 0.375);
            backdrop-filter: blur(8px);
            border: 1px solid white;
            border-radius: 0.7rem;
            padding: 0.5rem;
        }

        .bottom{
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 1rem;

            h3{
                text-transform: uppercase;
            }
        }   
    }

    .card:nth-child(2){
        background-image: url(./view5\ card2.webp);
    }

    .card:nth-child(3){
        background-image: url(./view5\ card3.webp);
    }
}

@mixin section5-desktop-style(){
    @media (min-width:900px){
        flex-direction: row;
        padding: 1rem 3rem;
    }
}