@import "section1";
@import "section2";
@import "section3";
@import "section5";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: clamp(14px, 1vw, 18px);
}

body{
    background-color: #1d1d1d;
}

@mixin flex-column($gap: 0){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main{
    width: 100%;
    @include flex-column(0rem);
    align-items: center;
    
    section.view1{
       max-width: 1900px;
       @include section1-mobile-style(); 
       @include section1-desktop-style();
    }

    section.view2{
        max-width: 1900px;
        @include section2-mobile-style();
        @include section2-desktop-style();
    }

    section.view3{
        max-width: 1900px;
        @include section3-mobile-style();
        @include section3-desktop-style();
    }

    section.view5{
        max-width: 1900px;
        @include section5-mobile-style();
        @include section5-desktop-style();
    }
}