*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* @keyframes changeBackgroundColor{
    from{
        background-color: #fff;
        border-radius: 0px;
        transform: translateX(0px) scale(1);
        visibility: visible;
    }
    to{
        background-color: red;
        border-radius: 50px;
        transform: translateX(300px)  scale(0.5);
        visibility: hidden;
    }
} */

@property --bgColor{
    syntax: "<color>";
    initial-value: rgb(150, 36, 127);
    inherits: false;
}

@keyframes animateBGC{
    from{
        --bgColor: red;
    }
    to{
        --bgColor: blue;
    }
}

.box{
    height: 200px;
    width: 400px;
    border: 1px solid white;
    /* animation: changeBackgroundColor 2s infinite forwards alternate; */
    background-color: var(--bgColor);
    animation: animateBGC 10s;
}
