*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #222;
    


#box{
    height: 12rem;
    width: 12rem;
    background-color: rgb(0,0,0);
    border: 2px solid white;
    border-radius: 0.6rem;
}

button{
    padding: 0.8rem 1.4rem;
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}

}

