*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 20px;
    /* perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center; */
}

/* #box1{
    height: 100px;
    width: 100px;
    background-color: crimson;
    border: 5px solid white;
    box-sizing: border-box;
}

#box2{
    height: 100px;
    width: 100px;
    background-color: salmon;
    border: 5px solid white;
} */

/* #box{
    height: 300px;
    width: 300px;
    background-image: url(https://images.unsplash.com/photo-1552234994-66ba234fd567?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cG90cmFpdHxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;

    transform: scale(2);
} */



#card{
    height: 300px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
}

#card>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#card>#btm{
    height: 40%;
    width: 100%;
    background-color: crimson;
}