@font-face {
    font-family: apple;
    src: url(sf-pro-text_regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple;
}

html,body{
    height: 100%;
    width: 100%;
}

/* #parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#box1{
    height: 200px;
    width: 200px;
    background-color: bisque;
}

#box2{
    height: 200px;
    width: 200px;
    background-color: crimson;
}

#box3{
    height: 200px;
    width: 200px;
    background-color: lightblue;
} */


#main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#nav{
    height: 50px;
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#nav>a{
    text-decoration: none;
    color: #f0eded;
    font-size: 18px;
    font-weight: 400;
}

#hero{
    height: 90%;
    width: 100%;
    text-align: center;
    padding: 50px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_mediumtall.jpg);
    background-size: cover;
    background-position: center;
}

#hero>h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
}

#hero>h5{
    color: white;
    font-size: 30px;
}

#hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

#hero-buttons>button{
    font-size: 16px;
    background-color: royalblue;
    color: #fff;
    padding: 13px 20px;
    border-radius: 50px;
    border: none;
}