@font-face {
    font-family: love;
    src: url(./Palisade.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html,body{
    height: 100%;
    width: 100%;
}

header{
    height: 60px;
    font-size: 50px;
    color: #fff;
    text-align: center;
    background-color: #ee56b1;
     font-family: love;
     font-weight: 800;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #ffddfd;
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

#card{
    height: 300px;
    width: 250px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 10px 25px #000000c5;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#card>img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#card>h1{
    font-size: 26px;
    font-weight: 500;
}

#card>p{
    font-size: 14px;
    font-weight: 400;
    color: #777;
    text-align: center;
}

#card>button{
    padding: 5px 20px;
    font-size: 16px;
    background-color: rgb(238, 160, 226);
    color: white;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
}

#card>button:hover{
    background-color: rgb(239, 126, 218);
    scale: 1.1;
}