*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #000;
}

/* h1{
    background-color: crimson;
    transform: rotate(2deg);
    display: inline-block;
}

a{
    background-color: yellow;
    transform: translate(50%);
    display: inline-block;
} */

/* #parent{
    height: 100%;
    width: 100%;
    background-color: #000;
    display: grid;
    grid-template-columns: 20% 50% 20% 10%;
    grid-template-rows: 20% 30% 20% 30%;
} */

/* .box{
    height: 100px;
    width: 100px;
    background-color: crimson;
    border-top: 2px solid white;
}

.box:nth-child(2n){
    background-color: rgb(200, 107, 2);
}

.box:nth-last-child(1){
    background-color: rgb(118, 70, 7);
    border-bottom: 2px solid white;
} */



/* .box{
    background-color: crimson;
    border: 5px solid black;
}

.box:nth-child(2n){
    background-color: rgb(200, 107, 2);
}

.box:nth-child(3n){
    background-color: rgb(118, 70, 7);
} 

.box:nth-child(4){
    background-color: rgb(135, 120, 5);
} */



h1{
   font-size: 200px;
   color: transparent; 
   text-align: center;
   /* background: linear-gradient(red,blue); */
   background-image: url("https://imgs.search.brave.com/F88js-92sGSg6Ilca_9xphNTbFhmwDkHidLWD0V5OYU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YTAuZ2lwaHkuY29t/L21lZGlhL3YxLlky/bGtQVGM1TUdJM05q/RXhZV3hrYVRnemVq/a3hiRzVqYVhCcGVI/Y3lkbXh3ZFhocU5I/UXlaekl5WjJaemRI/aDVaWEZ4TnlabGNE/MTJNVjluYVdaelgz/TmxZWEpqYUNaamRE/MW4vbDBIbFRGMVNE/cUVSN1ZCQ00vZ2lw/aHkuZ2lm.gif");

   background-clip: text;
} 

h2{
    color: transparent;
    font-size: 150px;
    text-align: center;
    -webkit-text-stroke: 3px royalblue;
}