/* @font-face {
    font-family: ;
    src: url();
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

/* #box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
    /* background: linear-gradient(to right bottom,red,blue); */
    /* background: radial-gradient(red,blue); */
    /* background: conic-gradient(red,blue,red); */

/* }  */

/* #box2{
    height: 50%;
    width: 50%;
    background-color: burlywood;
} */

/* main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1503376780353-7e6692767b70?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
} */

#box{
    height: 200px;
    width: 200px;
    background-color: salmon;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px;
}

button{
    margin: 100px;
    padding: 10px 20px;
    background-color: aquamarine;
    border: 2px solid green;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
}

button:active{
    background-color: rgb(117, 232, 193);
    scale: 0.9;
}