*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    /* color: #fff; */
}


#main{
    width: 100%;
    height: 100%;
    /* background-color: #111; */
}

#nav{
    margin-top: 15px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

#nav a{
    color: #111;
    text-decoration: none;
    font-size: 20px;
    margin-right: 30px;
}

#nav h3{
    font-size: 28px;
}

#main>h1{
    margin-left: 7%;
    font-size: 300px;
    font-weight: 200;
}

#btmleft{
    width: 150px;
    position: absolute;
    bottom: 15%;
    left: 5%;
}

#btmleft h3{
    font-size: 20px;
}

#btmleft p {
    font-size: 13px;
    margin-top: 5px;
}

#btmleft h4{
    margin-top: 30px;
    font-size: 20px;
}

#btmbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 70px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#btmbar h1{
    font-size: 22px;
}

#btmbar a{
    color: #111;
    text-decoration: dashed;
    font-size: 22px;
}

#main>img{
    
    position: absolute;
}

#first{
    height: 230px;
    top: 44%;
    left: 50%;
    z-index: 0;
}

#second{
    height: 170px;
    top: 65%;
    left: 55%;
    z-index: 1;
}

#third{
    height: 250px;
    top: 40%;
    left: 67%;
    z-index: 2;
}
