@mixin button-style($bg-color, $text-color: white, $text-size: 18px){
    padding: 15px 30px;
    background-color: $bg-color;
    color: $text-color;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: $text-size;
}