*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(22, 76, 99);
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 30px;
}

#main::-webkit-scrollbar{
    display: none;
}

#card{
    height: 350px;
    width: 280px;
    border-radius: 25px;
    position: relative;
    transition: all ease 3s;
    overflow: hidden;
    flex-shrink: 0;
}

#card>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#card>#btm{
    height: 40%;
    width: 100%;
    padding: 20px;
    background: linear-gradient( transparent, black);
    position: absolute;
    bottom: -40%;
    transition: all ease 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#btm h4{
    color: #fff;
    font-size: 20px;
}

#btm h3{
    background-color: #fff;
    padding: 2px 5px;
    border-radius: 50%;
}

#btm>h3>i{
    font-size: 14px;
}

#card:hover #btm{
    bottom: 0;
}
